body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("https://pre00.deviantart.net/c58c/th/pre/i/2014/175/1/e/spirited_away_background_by_alwaysmadabout-d7nrv7h.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.totoro{
  max-height: 15px;
  max-width: 50px;
  position:relative; 
/* changed from absolute to relative*/
  width: 10%;
  height: 10%;
}
/*
@keyframes move {
  from {
    left: 5%; 
  }
  to {
    left: 800%;
  }
}

.totoro {
  animation: 7s move ; 
}
*/
/*.dancer{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}*/
.runAway {
  position: absolute;
}
/*.runAway:hover {
  
  /*background: red;*/
  /*display: none;
  opacity: 0;
  transition: .8s;
  
}*/
.shinchan{
  max-height: 15px;
  max-width: 50px;
  position:absolute;
  width: 10%;
  height: 10%;
}